@model jQuery_AJAX_MVC.Models.PersonModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
 

    <h3>Here is your payment page</h3>
    <h4>Below is the Card Number input field in an iframe</h4>

    <form name="order" method="POST">
        <table>
            <tr>
                <td>Card number</td>
                <td>
                    <iframe id="tokenframe" name="tokenframe" 
                            src="https://fts.cardconnect.com:6443/itoke/ajax-tokenizer.html?css=%2Eerror{color:%20red;}" 
                            frameborder="0" scrolling="no" width="200" height="30" >
                    </iframe>
                </td>
            </tr>
            <tr>
                <td>Enter Expiration</td>
                <td><input type="text" name="expiry" size="6" value="0517"></td>
            </tr>
        </table>
        <br />

        <input type="hidden" name="mytoken" id="mytoken">

        <h4>Now we are below the iframe</h4>
        <input type="button" value="Show Token" onclick="javascript:showMe();"><br />
    </form>


    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script language="JavaScript">

    function showMe() {
        alert($("#tokenframe").contents().find("#ccnumfield"));
        var mytoken = document.getElementById('mytoken');
        alert("Token=" + mytoken.value);
    }

    window.addEventListener('message', function (event) {
        document.getElementById('mytoken').value = JSON.parse(event.data);

        var token = JSON.parse(event.data);

        alert('Received message ' + token.message);
        var mytoken = document.getElementById('mytoken');
        mytoken.value = token.message;
    }, false);

    </script>


</body>
</html>
